<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Dashboard</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="home-container">
      <div class="dashboard" id="dashboard">
        <!-- Cards will be dynamically inserted here -->
      </div>
    </div>
    <p>Metadata: <span id="numPage"></span>/<span id="totalPages"></span></p>
    <script>
      // Function to create and append job cards
      const createJobCard = (job) => {
        const card = document.createElement("div");
        card.className = `card ${job.status.toLowerCase().replace(" ", "-")}`;

        const sticker = document.createElement("div");
        sticker.className = "sticker";
        sticker.innerText = job.status;

        const title = document.createElement("h3");
        title.innerText = job.jobTitle;

        const company = document.createElement("p");
        company.innerText = job.employer.name;

        const link = document.createElement("a");
        link.href = `/jobDetails?id=${job._id}`;
        link.innerText = "See more";

        card.appendChild(sticker);
        card.appendChild(title);
        card.appendChild(company);
        card.appendChild(link);

        return card;
      };

      const listOfJobs = document.getElementById("listOfJobs");
      const numPage = document.getElementById("numPage");
      const totalPages = document.getElementById("totalPages");
      const dashboard = document.getElementById("dashboard");

      fetch("/api/jobs?orderedBy=jobTitle&numPage=1&limit=8&desc=true")
        .then((response) => response.json())
        .then((data) => {
          numPage.innerText = data.metaData.numPage;
          totalPages.innerText = data.metaData.totalPages;

          data.data.forEach((job) => {
            // Add job card to dashboard
            const jobCard = createJobCard(job);
            dashboard.appendChild(jobCard);
          });
        });
    </script>

    <%- include('./partials/footer') %>
  </body>
</html>
